#about{
	
	background-color: transparent;
}
#kitInfo{
	font-size: 25px ;
	margin-top: 80px;
	background-color: #ffffff;
	width:400px;
}
#kitInfo h3{
	color:#0066ff;
	font-size: 30px;

}



#kitInfo{
display: inline-block;
}

