<div class="contactContainer">

<p style="color:red position:relative">MERHABHaberler>Spor>Futbol>Şenol Güneş'ten şike bombardımanı!
Şenol Güneş'ten şike bombardımanı!
15 Mart 2016 - 22:23:00
Şenol Güneş'ten şike bombardımanı!
Paylaş

CROPY
-
A
+

Beşiktaş Teknik Direktörü Şenol Güneş, Trabzonspor maçı sonrası futbol camiasına önemli mesajlar verdi.

Beşiktaş Teknik Direktörü Şenol Güneş, maçtan sonra basın toplantısında yaptığı konuşmanın ilk bölümünde Ankara'da yaşanan terör saldırısına değindi.

Kötü günde bir müsabaka yapmak zorunda kaldıklarını ifade eden Güneş, "Acımız büyük, Umut babasını kaybetti ama orada çok daha kaybettiğimiz insanlar var. Hepsine Allah'tan rahmet, yakınlarına başsağlığı diliyorum. Bizim de bir yakınımız olabilirdi o teröristin de yakını olabilirdi. Onun için bu yapılanın ne kadar insanlık dışı olduğunun bir kez daha düşünülmesi gerekiyor. Zaten bu olayların bu işi yapanlara kar olacağını düşünmüyorum" değerlendirmesinde bulundu.

"Biz acımızı paylaşırken, içimize gömerken aklımızı, sabrımızı, duygularımızı kaybetmeyelim" diyen Güneş, şöyle devam etti:

"Bir durum tespiti yapmak durumundayız. Bunu devlet yapmalı, hükümet, siyasi partiler, sivil toplum örgütleri ve bizler de buna katılmalıyız. Bu işleri yapanların kim olduğu, nasıl yaptığı gerekirse okullara ders olarak koyulmalı. Bu yeni bir olay değil, hep kınamak bir şeyler söylemek çözüm getirmiyor, giderek büyüyor. O halde biz yanımızdaki insanı da tanıyacağız, uzakta bu işi yapanları, yaptıranları da tanıyacağız ki ne yapacağımızı bileceğiz. Aksi halde kaosla birbirimize gireriz, tartışma konuları A</p>
</div>