
    <!-- Page Content -->
    <div class="kontainer" id="sik">
         <hr class="featurette-divider" id="sb-yfDivider">
            <div class="row">
            <div class="slogann">
             
                <p class="Slogan-first" data-translate="public.view.index.sloganFirst"></p>
                <p class="slogan-second" id="sloganSecondPar" data-translate="public.view.index.sloganSecond"></p>
      <!--           <p class="Slogan-first" lang="en">Innovative and unique products</p>
                <p class="slogan-second" lang="en" id="sloganSecondPar">with high quality service...</p> -->
            </div>
        </div>

        

        <!-- First Featurette -->
        <div class="featurette" id="about">
            <a href="/sihirlibalik" id="linkSB"><img class="featurette-image  img-responsive pull-right" id="mainPageSB" src="images/featuretteSB.png"></a>
            <a href="/sihirlibalik" id="linkSB">
                <h2 class="featurette-heading" id="featuretteHeadingSB">
                <span>SİHİRLİ BALIK</span><br>
               
                <span class="text-muted" data-translate="public.view.home.educationalKit" ></span>
                
                </h2>
                
            </a>
            <p class="lead" data-translate="public.view.home.sbDesc"></p>
            
        </div>

        <hr class="featurette-divider" id="sb-yfDivider">

        <!-- Second Featurette -->
        <div class="featurette" id="services">
            <a href="/yasayanfosil" id="linkYF"><img class="featurette-image img-responsive pull-left" id="mainPageYF" src="images/featuretteYF.png"></a>
            <a href="/yasayanfosil" id="linkYF"><h2 class="featurette-heading" id="featuretteHeadingYF">
                <span>YAŞAYAN FOSİL</span><br>
             
                <span class="text-muted" data-translate="public.view.home.educationalKit"></span>
    
            </h2>
            </a>
            <p class="lead" data-translate="public.view.home.yfDesc"></p>
           
        </div>

        <hr class="featurette-divider" id="yf-wowDivider">

        <!-- Third Featurette -->
        <div class="featurette" id="contact">
            <a href="/wowpaw" id="linkWow">
            <img class="featurette-image img-circle img-responsive pull-right" id="mainPageWow"src="images/deneme.png"></a>
            <a href="/wowpaw" id="linkWow"><h2 class="featurette-heading" id="featuretteHeadingWowpaw"><img class="featurette-image" id="mainPageWow" src="../images/wowpawPagePic.png"> <br>
                <span class="text-muted" data-translate="public.view.home.petBeds"></span>
             
            </h2>
            </a>
            <p class="lead" data-translate="public.view.home.wowPawDesc"></p>
            
        </div>
        

    </div>
    <!-- /.container -->
