

    <!-- Navigation -->
   

    <!-- Page Content -->
    <div class="kontainer">

         
        
        <hr class="featurette-divider" id="pageHeadDivider">

        <!-- First Featurette -->
        <div class="featurette" id="about">
            <img class="featurette-image  img-responsive pull-right" src="images/sbSeti.png">
            <h2 class="featurette-heading" id="featuretteHeadingSB">SİHİRLİ BALIK
                <br>
                <span class="text-muted" data-translate="public.view.home.educationalKit"></span>
            </h2>
            <p class="lead" data-translate="public.view.home.sbDesc"></p>
            <div class="kitContainer">
            <div id="kitInfo">
                <h3 data-translate="public.view.sb.ingredientsTitle"></h3>
                <ul><li data-translate="public.view.sb.miniAquarium"></li>
                    <li data-translate="public.view.sb.breedingCup"></li>
                    <li data-translate="public.view.sb.magnify"></li>
                    <li data-translate="public.view.sb.pipet"></li>
                    <li data-translate="public.view.sb.kitSand"></li>
                    <li data-translate="public.view.sb.babyFood"></li>
                    <li data-translate="public.view.sb.adultFood"></li>
                    <li data-translate="public.view.sb.toothpick"></li>
                    <li data-translate="public.view.sb.manual"></li>
                </ul>
                <h3 data-translate="public.view.sb.requirements"></h3>
                <ul>
                    <li data-translate="public.view.lightResource"></li>
                    <li data-translate="public.view.water"></li>
                </ul>
            </div>
            <div class="div-responsive pull-right" id="kitVideo">
            <div id="videoWrapper">
            <iframe width="420" height="315" id="iframe"
                src="//www.youtube.com/embed/eXpd3hTS1Oc?autoplay=0">
            </iframe>
            </div>
            </div>
            </div>
            
        
            
        </div>
        
        <hr class="featurette-divider">
         <h3 class="featurette-headings" data-translate="public.view.beInterested"></h3>

        <div class="featurette" id="otherProducts">
            <div class="featurette-container">
            <a href="/yasayanfosil" ><img class="featurette-image   " src="images/otherProducts-yf.png"><p class="featurette-par">YAŞAYAN FOSİL</p></a>
            <a href="/wowpaw" ><img class="featurette-image   " src="images/otherProducts-wowpaw.png"><p class="featurette-par">WOWPAW</p></a>
            <a href="/snowhite" ><img class="featurette-image   " src="images/otherProducts-snowhite.png"><p class="featurette-par">SNOWHTE</p></a>
            </div>
            </div>
           
        

       
  
        

    </div>
    <!-- /.container -->
  
