
   
    <!-- Page Content -->
    <div class="kontainer" id="container">

         
        
        <hr class="featurette-divider" id="mainDividerSnowhite">

        <!-- <h2 class="featurette-heading" id="featuretteHeadingBed">SNOWHITE</h2> -->
        <div id="snowhiteBrand">
        <img src="/images/otherProducts-snowhite.png" id="featuretteHeadingBed">
        </div>



        <p class="lead" id="description" data-translate="public.view.snowhite.Desc"></p>
        <hr class="featurette-divider" id="indexSeperator">

        <!-- First Featurette -->
        <div id="snowhiteHeaders">
            <div class="imgClass">
                    <a href="#rounded">
                    <div class ="productSelect">
                    <div class="productHeader">    
                    <h2 class="featurette-heading" id="featuretteHeadingBeds" data-translate="public.view.snowhite.aquariumSand"></h2>
                    </div>          
                    <div class="imageSnowhite" id="image1">
                        <img class="image-1  img-responsive" src="images/SnowhiteKovaa.png">
                    </div>
                    </div>
                    </a>
                    <a href="#square">  
                   <div class="productSelect">
                   <div class="productHeader">
                   <h2 class="featurette-heading" id="featuretteHeadingBeds" data-translate="public.view.snowhite.birdMineral"></h2>
                   </div>
                    
                    <div class="imageSnowhite" id="image2">
                        <img class="image-wow2  img-responsive" src="images/snowhiteBirdSand.png">
                    </div>
                    </div>
                    </a>
                    
            </div>
            </div>
            

            
         

            
            <a name="rounded"> </a>
            
            
             <hr class="featurette-divider" >
             <hr class="featurette-divider" id="snowhitePartDivider">

            <div class="infoContainer">
        
                





                      <div id="snowhiteHeaders">
                        <h1 class="infoContainer-heading" id="featuretteHeadingBedType" data-translate="public.view.snowhite.aquariumSand"></h1>
                       

                        <p id="aquaSandDescription" data-translate="public.view.snowhite.sandDesc1"></p>
                        <p id="aquaSandDescription" data-translate="public.view.snowhite.sandDesc2"></p>
                        <p id="aquaSandDescription" data-translate="public.view.snowhite.sandDesc3"></p>


                       
                        <hr class="featurette-divider" id="aquaSandDivider2">
                         <h3 class="infoContainer-heading" id="featuretteHeadingSize" data-translate="public.view.snowhite.preferences"></h3>

                        
                        <div class="imgClass">                
                    <div class="images" id="image1">
                        <img class="image-1  img-responsive" src="images/Krem/snowhiteKrem.png">
                         <h2 class="featurette-heading" id="featuretteHeadingBrandName" data-translate="public.view.snowhite.aquaColorCreme"></h2>
                    </div>
                    
                   
                    <div class="images" id="image2">
                        <img class="image-2  img-responsive" src="images/Kiremit/snowhiteKiremit.png">
                         <h2 class="featurette-heading" id="featuretteHeadingBrandName" data-translate="public.view.snowhite.aquaColorGinger"></h2>
                    </div>
                   
                   

                    <div class="images" id="image3">
                        <img class="image-3  img-responsive" src="images/Siyah/snowhiteSiyah.png">
                        <h2 class="featurette-heading" id="featuretteHeadingBrandName" data-translate="public.view.snowhite.aquaColorBlack"></h2>
                    </div>
                   
                    

                    <div class="images" id="image3">
                        <img class="image-3  img-responsive" src="images/Yesil/snowhiteYesil.png">
                         <h2 class="featurette-heading" id="featuretteHeadingBrandName" data-translate="public.view.snowhite.aquaColorGreen"></h2>
                    </div>
                   
                   
            </div>
               </div>

                    <table id="measurementsRounded"style="width:100%;border:2px #333 solid">
                      <tr>

                        <th class="tableHeader" colspan="2" style="text-align:center" data-translate="public.view.snowhite.sandPreferences"></th>
                        
                        </tr>
                      <tr>
                        <td>900gr</td>
                        <td>7 Kg</td>      
                      </tr>
                      <tr>
                        <td>-</td>
                        <td>-</td>        
                      </tr>
                    </table>
                   

               
               
                    <a name="square"> </a> 
                <!-- SQUARE BEDS STARTS FROM HERE!-->


                  <hr class="featurette-divider" id="bodyDivider">


             <h1 class="infoContainer-heading" id="featuretteHeadingBedType" data-translate="public.view.snowhite.birdMineral"></h1>
                  <!--   <h3 class="infoContainer-heading" id="featuretteHeadingSize">İÇERİK</h3> -->
                <!--   <p id="descriptionBirdSand"> KUŞ KUMU YAZISI. AMBALAJ UZERINDEKI KUŞ KUMU RESMI GELECEK. ASAGIDAKI RESİMLERE BEYAZ DA ÇEKİLECEK KUMUN RESMİ VE KOLILENMIS HALININ USTTEN ACIK 24 UNUN GORUNUO HALININ FOTOGRAFI GELECEK</p> -->
                  <p id="descriptionBirdSand" data-translate="public.view.snowhite.aquaDesc1"></p>
                  <p id="descriptionBirdSand" data-translate="public.view.snowhite.aquaDesc2"></p>
              

                      <table id="sandIngredients"style="width:100%;border:2px #333 solid">
                      <tr>

                        <th class="tableHeader" colspan="8" style="text-align:center" data-translate="public.view.snowhite.ingredients"></th>
                        
                        </tr>
                      <tr>
                        <td data-translate="public.view.snowhite.ingredients.calcium"></td>
                        <td data-translate="public.view.snowhite.ingredients.magnesium"></td>
                        <td data-translate="public.view.snowhite.ingredients.iron"></td>
                        <td data-translate="public.view.snowhite.ingredients.silicon"></td>
                        <td data-translate="public.view.snowhite.ingredients.titan"></td>
                        <td data-translate="public.view.snowhite.ingredients.sodium"></td>
                        <td data-translate="public.view.snowhite.ingredients.anise"></td>
                        <td data-translate="public.view.snowhite.ingredients.oysterShell"></td>     
                      </tr>
                    </table>
                    <hr class="featurette-divider" id="measurementsDivider">
            




               
                <div class="infoContainer-pictures">
                    <div class="picParts">
                    <a href="sb.html" ><img class="featurette-wow" id="birdSandPic" src="images/Kiremit/kiremit.png"></a>
                    </div>
            </div>
            






                  <hr class="featurette-divider">
         <h3 class="featurette-headings" data-translate="public.view.beInterested"></h3>

        <div class="featurette" id="otherProducts">
            <div class="featurette-container" id="">
            <a href="/sihirlibalik" ><img class="featurette-image" src="images/otherProducts-sb.png"><p class="featurette-par">SİHİRLİ BALIK</p></a>
            <a href="/yasayanfosil" ><img class="featurette-image" src="images/otherProducts-yf.png"><p class="featurette-par">YAŞAYAN FOSİL</p></a>
            <a href="/wowpaw" ><img class="featurette-image   " src="images/otherProducts-wowpaw.png"><p class="featurette-par">WOWPAW</p></a>
            </div>
        </div>

        
            
        </div>
        </div>
         
        

